apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: 0.0.0.0
clientConnection:
  kubeconfig: "/etc/kubernetes/config/kubeproxy.yaml"
clusterCIDR: "{{ K8S_POD_NETWORK }}"
hostnameOverride: "{{ HOST_IP }}"
mode: "iptables"