---
apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: https://{{ K8S_MASTER_HOST }}:{{ K8S_PORT }}
    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/kubelet.pem
    client-key: /etc/kubernetes/ssl/kubelet.key
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context